version: "3.9"

services:
  server:
    build:
      context: ./server
    container_name: fastapi-server
    env_file:
      - ./server/.env
    ports:
      - "8000:8000"
    restart: always

  client:
    build:
      context: ./client
    container_name: nextjs-client
    env_file:
      - ./client/.env
    ports:
      - "3000:3000"
    depends_on:
      - server
    restart: always
